---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import WorkList from '@components/works/WorkList.astro';
import { getLangFromUrl, useTranslations } from '../../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const posts = await getCollection('works', ({ id }) => {
    return id.startsWith(lang+'/');
  }).then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Credits'
  description='Pablo Fergus | ' + $t('gen.onthispagecredits')
  pageTitle='Pablo Fergus'
>
  <main class='bg-green p-6'>
    <WorkList posts={posts} />
  </main>
</Layout>
