---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import WorkList from '@components/works/WorkList.astro';
const posts = await getCollection('works').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Credits'
  description='Pablo Fergus | On this page you can find my credits'
  pageTitle='Pablo Fergus'
>
  <main class='bg-green p-6'>
    <WorkList posts={posts} />
  </main>
</Layout>
